
.container {
    display: grid;
    grid-template-columns: 1fr 1.7fr;
    grid-template-rows: auto auto;
    grid-template-areas:
        "user items"
        "user stats";
    grid-gap: 40px;
}

/* ======= CARD DO USUÁRIO ======= */
.user-card {
    grid-area: user;
    background: #b9ecff;
    font-weight: 800;;
    padding: 25px;
    border-radius: 10px;
    text-align: center;
}

.avatar {
    width: 70px;
    height: 70px;
    background: #fff;
    border-radius: 50%;
    margin: 0 auto 15px;
    background-image: url('https://cdn-icons-png.flaticon.com/512/149/149071.png');
    background-size: cover;
}

.member {
    font-size: 0.9em;
    color: #444;
}

.edit-btn {
    background: #0b6fa4;
    border: none;
    padding: 8px 20px;
    color: white;
    border-radius: 8px;
    cursor: pointer;
    margin-top: 10px;
}

/* ======= MEUS ITENS ======= */
.items-card {
    grid-area: items;
    background: #d8effc;
    border-radius: 10px;
    padding-bottom: 20px;
}

.items-header {
    display: flex;
    justify-content: space-between;
    background: #063a51;
    color: white;
    padding: 15px 20px;
    border-radius: 10px 10px 0 0;
    align-items: center;
}

.new-item-btn {
    background: #f5f6f7;
    color: rgb(0, 0, 0);
    border: none;
    padding: 8px 30px;
    border-radius: 20px;
    cursor: pointer;
}

.items-content {
    text-align: center;
    padding: 40px 20px;
    color: #333;
}

.box-icon {
    width: 60px;
    opacity: 0.8;
}

/* ======= ESTATÍSTICAS ======= */
.stats-card {
    grid-area: stats;
    background: #d8effc;
    padding: 20px;
    border-radius: 10px;
}

.stats-card h3 {
    margin-bottom: 15px;
}

.stats-grid {
    display: flex;
    justify-content: space-around;
}

.stat-box {
    background: #cde6f6;
    padding: 15px;
    width: 120px;
    border-radius: 8px;
    text-align: center;
}

.num {
    font-size: 24px;
    font-weight: bold;
}
