.form-wrapper {
    display: flex;
    justify-content: center;
    padding: 40px 20px;
}

.form-card {
    width: 100%;
    max-width: 800px;
    background: rgba(171, 232, 255, 0.67) !important;;
    border-radius: 9px;
    padding: 30px;
    backdrop-filter: blur(8px);
    box-shadow: 0 8px 20px rgba(0,0,0,.1), 0 0 0 1.5px rgb(0, 92, 116);
}

.form-header {
    text-align: center;
    margin-bottom: 25px;
}

.form-header img {
    height: 40px;
}

.form-header h4 {
    margin-top: 10px;
    font-weight: 700;
}

label {
    font-size: 0.8rem;
    font-weight: 600;
    margin-top: 15px;
    display: block;
}

input, textarea, select {
    width: 100%;
    padding: 10px;
    border-radius: 6px;
    border: none;
    background: #c9d6dc;
    margin-top: 5px;
}

.helper-text {
    font-size: 12px;
    color: #777;
    opacity: 0.8;
}

.row {
    display: flex;
    gap: 15px;
}

.col {
    flex: 1;
}

.form-actions {
    display: flex;
    gap: 15px;
    margin-top: 25px;
}

.btn-save {
    flex: 2;
    background: linear-gradient(90deg, #000102, #005C7E) !important;
    color: #fff;
    border: none;
    padding: 12px;
    border-radius: 25px;
    font-weight: 700;
}

.btn-cancel {
    flex: 1;
    background: #fff;
    border: 1px solid #000;
    padding: 12px;
    border-radius: 25px;
    font-weight: 700;
}

.modal-overlay {
    display: none;
    position: fixed;
    inset: 0;
    background: rgba(0,0,0,0.45);
    z-index: 9999;
}

.modal-box {
    background: #fff;
    width: 700px;
    max-height: 90vh;
    overflow-y: auto;
    margin: 5vh auto;
    padding: 25px;
    border-radius: 16px;
    position: relative;
}

.modal-close {
    position: absolute;
    top: 10px;
    right: 15px;
    border: none;
    background: none;
    font-size: 26px;
    cursor: pointer;
}
