
/* ===== CARDS ===== */
.card {
    border: none;
    border-radius: 12px;
    background: #b9e8ff;
    border: 1px solid #002a35;
}

/* ===== IMAGEM ===== */
.item-image {
    background: #ffffff;
    border-radius: 10px;
}

.item-image img {
    width: 100%;
    height: 340px;
    object-fit: cover;
    border-radius: 8px;
}

/* ===== BADGE ===== */
.badge {
    font-size: 0.7rem;
    padding: 4px;
    width: 50px;
    border-radius: 6px;
}

/* ===== TEXTOS ===== */
.item-card h4 {
    font-size: 1.1rem;
    font-weight: 600;
    margin-top: 8px;
}

.text-gradient {
    background: linear-gradient(90deg, #002a35, #00abd6d3);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.item-card p {
    font-size: 0.9rem;
    color: #444;
    margin-bottom: 6px;
}

/* ===== INFO GRID ===== */
.item-card .row {
    font-size: 0.85rem;
    color: #333;
}

.info-item {
    display: flex;
    flex-direction: column;     /* empilha */
    align-items: flex-start;    /* ← ESSENCIAL */
    gap: 6px;                   /* espaço entre label e valor */
}

.info-item i {
    font-size: 1.2rem;
    margin-right: 6px;          /* espaço entre ícone e texto */
    color: #0b3c49;
}

.info-item span.label {
    font-size: 0.75rem;
    color: #6c757d;
    display: flex;              /* ícone + texto lado a lado */
    align-items: center;
    font-weight: 500;
}



/* ===== CARD CONTATO ===== */
.contact-card {
    background: #b9e8ff;
    border: 1px solid #002a35;
}

.contact-card h1 {
    font-size: 1.2rem;
    font-weight: 700;
    text-align: center;
    margin-bottom: 16px;
}

/* ===== CONTATO TEXTO ===== */
.contact-card p {
    font-size: 1rem;
    margin-bottom: 10px;
    color: #333;
}

/* ===== BOTÃO ===== */
.contact-card .btn {
    background: linear-gradient(90deg, #002a35, #01627ad3) !important;
    color: white !important;
    border: none !important;
    border-radius: 30px !important;
    padding: 10px 30px !important;
    font-weight: 600;
    transition: all 0.3s ease;
}

.contact-card .btn:hover {
    background: #002a35;
}

/* ===== VOLTAR ===== */
.btn-secondary {
    background: linear-gradient(90deg, #002a35, #01627ad3) !important;
    color: white !important;
    border: none !important;
    border-radius: 30px !important;
    padding: 10px 30px !important;
    font-weight: 600;
    transition: all 0.3s ease;
}
