/* ===== LAYOUT GERAL ===== */
.dashboard-layout {
    display: grid;
    grid-template-columns: 360px 1fr;
    grid-template-rows: auto auto;
    gap: 50px !important;
    align-items: start;
}

/* ===== CARD USUÁRIO ===== */
.user-card {
    background-color: rgba(171, 232, 255, 0.45);
    border-radius: 18px;
    text-align: center;
    padding: 40px;
}

.user-card .avatar {
    width: 90px;
    height: 90px;
    border-radius: 50%;
    overflow: hidden; /* ESSENCIAL */
    background: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
}

.user-card .avatar img {
    width: 100%;
    height: 100%;
    object-fit: cover; /* mantém proporção */
}

.user-card h4 {
    font-weight: 600;
}

.user-card small {
    color: #6c757d;
}

.user-card .btn {
    margin-top: 50px;
    border-radius: 30px;
    background: linear-gradient(90deg, #002a35, #01627ad3) !important;
    border: none;
}

.user-card .btn:hover {
    background: linear-gradient(90deg, #001f24, #01404ad3) !important;
}

/* ===== MEUS ITENS ===== */
.items-card {
    background-color: rgba(171, 232, 255, 0.45);
    border-radius: 18px;
    overflow: hidden;
}

.items-card .card-header {
    background: linear-gradient(90deg, #002a35, #016179d3) !important;
    color: #fff;
    padding: 24px 40px !important;
}

.btn-sm{
    padding: 6px 20px !important;
    background-color: #ffffff;
    color: black;
    font-size: 0.85rem !important;
}

.items-card .btn {
    border-radius: 20px;
    font-weight: 600;
}

/* ===== CONTEÚDO MEUS ITENS ===== */
.items-card .card-body {
    padding: 103px 50px !important;
}

.items-card img {
    width: 70px;
    opacity: 0.9;
}

/* ===== ESTATÍSTICAS ===== */
.stats-card {
    background-color: rgba(171, 232, 255, 0.45);
    border-radius: 18px;
}

.stats-card h5 {
    font-weight: 600;
}

.stat-box {
    background: linear-gradient(90deg, #000102, #0385b4fa);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    border: 2px solid #003b4a;
    border-radius: 18px;
    padding: 25px 10px;
}

.stat-box h3 {
    font-weight: 700;
}

/* ===== RESPONSIVO ===== */
@media (max-width: 992px) {
    .dashboard-layout {
        grid-template-columns: 1fr;
    }
}
