{% load static %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Find - Nova senha</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet">

    <!-- Seu CSS -->
    <link rel="stylesheet" href="{% static 'mainpage/css/login.css' %}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Rounded" />
</head>

<body>

<div class="container d-flex justify-content-center align-items-center min-vh-100">
    <div class="card shadow login-card p-4">

        <h2 class="text-center fw-bold title-gradient">
            Nova senha 🔐
        </h2>

        <p class="text-center text-muted mb-4">
            Digite sua nova senha abaixo
        </p>

        {% if validlink %}
        <form method="post">
            {% csrf_token %}

            <!-- Nova senha -->
            <div class="mb-3">
                <div class="input-group rounded-pill">
                    <span class="material-symbols-rounded">lock</span>
                    {{ form.new_password1 }}
                </div>
            </div>

            <!-- Confirmar senha -->
            <div class="mb-3">
                <div class="input-group rounded-pill">
                    <span class="material-symbols-rounded">lock_reset</span>
                    {{ form.new_password2 }}
                </div>
            </div>

            <button class="btn btn-primary w-75 mt-3 mx-auto d-block rounded-pill fw-bold">
                ALTERAR SENHA
            </button>
        </form>

        {% else %}
        <div class="text-center">
            <p class="text-danger">
                Este link é inválido ou já foi usado 😕
            </p>

            <a href="{% url 'password_reset' %}" class="btn btn-primary rounded-pill mt-3">
                Solicitar novo link
            </a>
        </div>
        {% endif %}

    </div>
</div>

</body>
</html>
